/* *,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
} */

/* ul {
  list-style: none;
} */

* {
    box-sizing: border-box;
}

html,
body,
#root {
    height: 100%;
    width: 100%;
}



#root {
    display: flex;
    flex-direction: column;
}
